/*
font-family: 'Poppins', sans-serif;
*/

/* 
    In CSS (Cascading Style Sheets), :root is a pseudo-class that represents the highest-level parent element in the document hierarchy, which is usually the <html> element. It is often used to define global CSS variables, also known as custom properties.
    When you define variables using :root, they become accessible and can be used throughout your entire stylesheet. This is particularly useful for creating consistent styles across your website or web application.
    Here's an example of how :root is commonly used to define CSS variables:
    :root {
        --primary-color: #3498db;
        --secondary-color: #2ecc71;
        --text-color: #333;
    }
    body {
        background-color: var(--primary-color);
        color: var(--text-color);
    }
    .header {
        background-color: var(--secondary-color);
    }

*/
:root {
    --ff-sans: 'Poppins', sans-serif;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;
    --fs-400: 0.9375rem;
    --fs-500: 1.25rem;
    --fs-600:1.625rem;
    --fs-900: 2.5rem;

    --clr-neutral-900: hsl(234, 12%, 34%);
    --clr-neutral-400: hsl(229, 6%, 66%);
    --clr-neutral-100: hsl(0, 0%, 98%);

    --clr-teal: hsl(180, 58%, 56%);
    --clr-red: hsl(0, 70%, 60%);
    --clr-bleu: hsl(212, 75%, 62%);
    --clr-yellow: hsl(34, 89%, 65%);


}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

/* Some good practices while doing your style */
/* 
we use it sometimes
* {
    margin: 0;
    padding: 0;
*/

/* a default size for images
img {
    max-width: 100%;
    display: block;
}
*/

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    color: var(--clr-neutral-400);
}

/* we usually do this to get rid of the default margin */
body {
    margin: 0;
    padding-block-end: 5rem;
}
h1,
h2,
h3
{
    color: var(--clr-neutral-900);
    line-height: 1.1;
}

.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.wrapper--narrow {
    max-width: 600px;
}

header {
    text-align: center;
    margin-block: 6rem;
    /* border: 2px solid red; use this to help you visualize staff */
}
h1 {
    font-weight: var(--fw-light);
    font-size: var(--fs-900);
}
h1 span {
    font-weight: var(--fw-bold);
}
header > p {
    font-size: var(--fs-500);
}

/* 
doing it using the flex layout 
.layout-grid {
    --gap: 2rem;
    display: flex;
    gap: var(--gap);
} */
/* using the grid layout */

.layout-grid {
    --gap: 2rem;
    display: grid;
    gap: var(--gap);
}

@media (min-width: 800px)
{
    .layout-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* anything that is a child of this grid will have a flex of 1 to make the size of the cards equal*/
.layout-grid > * {
    flex: 1;
}

/*try to add a border to help yourself visualize staff */
/* border: 3px solid dodgerblue; */
.col {
    display: grid;
    align-content: center;
    gap: var(--gap);
}

.card {
    --br: .325rem;
    padding: 2rem;
    border-top: var(--br) solid;
    border-radius: var(--br);
    box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 50 100 / 0.15);
}
.card__title {
    font-size: var(--fs-600);
    margin: 0;
}

.card__img {
    display: block;
    margin-left: auto;
    margin-top: 1.5rem;

}

.border-teal {
    border-color: var(--clr-teal);
}
.border-red {
    border-color: var(--clr-red);
}
.border-yellow {
    border-color: var(--clr-yellow);
}
.border-bleu {
    border-color: var(--clr-bleu);
}
